<!-- Modal: Create new task -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" color="medium">
        {{ 'modal.cancel' | translate }}
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'modal.newTask' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true" color="primary">
        {{ 'modal.save' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input
        [(ngModel)]="taskTitle"
        [label]="'modal.taskTitle' | translate"
        labelPlacement="floating"
        type="text"
        [maxlength]="100"
        [placeholder]="'modal.taskPlaceholder' | translate"
        (keyup.enter)="save()"
        [autofocus]="true">
      </ion-input>
    </ion-item>
  </ion-list>

  <!-- Validation error message -->
  @if (submitted && !taskTitle.trim()) {
    <ion-text color="danger">
      <p class="validation-error">{{ 'modal.titleRequired' | translate }}</p>
    </ion-text>
  }
</ion-content>
